html, body {
  background-color: #eee;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin-top: 25px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.description {
  margin-top: 5px;
  font-size: 22px;
  text-align: center;
}

.description.sub-title {
  font-size: 18px;
}

#streak {
  display: block;
  height: 30px;
  margin: 20px auto;
  font-size: 28px;
  text-align: center;
  text-shadow:
    -1px -1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    1px 1px 0 #000;
}

.artists {
  margin: auto;
  width: 700px;
}

.artist {
  position: relative;
}

#artist-a {
  float: left;
}

#artist-b {
  float: right;
}

.artist .name {
  margin-top: 10px;
  color: #fafafa;
  font-size: 30px;
  text-align: center;
  text-shadow:
    -1px -1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    1px 1px 0 #000;
}

.artist .image-container {
  position: relative;
  height: 320px;
  width: 320px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
}

.artist .image-container img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: auto;
  margin: auto;
  width: auto;
  max-height: 300px;
  max-width: 300px;
}

.artist.correct .image-container {
  background-color: rgba(136, 255, 0, 0.5);
  box-shadow: 0 0 25px #8f0;
}

.artist.correct .name {
  color: #8f0;
}

.artist.incorrect .image-container {
  background-color: rgba(255, 0, 0, 0.5);
  box-shadow: 0 0 25px #f00;
}

.artist.incorrect .name {
  color: #f00;
}

#color-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
}

.background-image {
  z-index: -1;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-image: url('../mountain.jpg');
  -webkit-filter: blur(10px) grayscale(60%);
  filter: blur(10px) grayscale(60%);
}